<div class="navigation-steps">
	<div id="prev" class="navbtn" ng-show="showPrev()">
		<div class="text-center" ng-mouseover="over('prev')" ng-mouseout="out('prev')" ng-click="prev()">Prev</div>
	</div>
	<div id="next" class="navbtn" ng-show="showNext()">
		<div class="text-center" ng-mouseover="over('next')" ng-mouseout="out('next')" ng-click="next()">Next</div>
	</div>
</div>

<div class="steps text-center">
	<div id="step_1" class="box selected">
		<img src="guidelines/guideline01.png">
	</div>
	<div id="step_2" class="box">
		<img src="guidelines/guideline02.png">
	</div>

	<div id="step_3" class="box">
		<img src="guidelines/guideline03.png">
	</div>
	<div id="step_4" class="box">
		<img src="guidelines/guideline04.png">
	</div>

	<div id="step_5" class="box">
		<img src="guidelines/guideline05.png">
	</div>

	<div id="step_6" class="box">
		<img src="guidelines/guideline06.png">
	</div>

	<div id="step_7" class="box">
		<img src="guidelines/guideline07.png">
	</div>

	<div id="step_8" class="box">
		<img src="guidelines/guideline08.png">
	</div>

	<div id="step_9" class="box">
		<img src="guidelines/guideline09.png">
	</div>
	<div id="step_10" class="box">
		<img src="guidelines/guideline10.png">
	</div>
	<div id="step_11" class="box">
		<img src="guidelines/guideline11.png">
	</div>
	<div id="step_12" class="box">
		<img src="guidelines/guideline12.png">
	</div>
	<div id="step_13" class="box">
		<img src="guidelines/guideline13.png">
	</div>
	<div id="step_14" class="box">
		<img src="guidelines/guideline14.png">
	</div>
	<div id="step_15" class="box">
		<img src="guidelines/guideline15.png">
	</div>
	<div id="step_16" class="box">
		<img src="guidelines/guideline16.png">
	</div>
	<div id="step_17" class="box">
		<img src="guidelines/guideline17.png">
	</div>
	<div id="step_18" class="box">
		<img src="guidelines/guideline18.png">
	</div>
	<div id="step_19" class="box">
		<h1> That's all, Thank You for all your help! <br/> <br/> Now you can start the annotation, just <br/> <br/><a href="index.html#/annotate">Click Here</a></h1>
	</div>
</div>